* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #342F2C;
    font-family: 'Montserrat';
    margin: 0;
    /* color: rgba(131, 131, 131, 0.651) */
    /* color: rgba(52, 47, 44, 0.774); */
}


